# NOTE: update this with your service name
service: guitarhunt-api

# Create an optimized package for our functions
package:
  individually: true

plugins:
  - serverless-bundle # Package our functions with Webpack
  - serverless-offline
  - serverless-dotenv-plugin # Load .env as environment variables

provider:
  name: aws
  runtime: nodejs12.x
  stage: prod
  region: us-east-2
  # To load environment variables externally
  # rename env.example to .env and uncomment
  # the following line. Also, make sure to not
  # commit your .env.
  #
  #environment:
  #  SAMPLE_ENV_VAR: ${env:SAMPLE_ENV_VAR}

  environment:
    tableName: guitars
    index: user-guitars-index

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:Scan
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:DescribeTable
      Resource: "arn:aws:dynamodb:us-east-2:*:*"

functions:
  create:
    handler: create.main
    events:
      - http:
          path: guitars
          method: post

  get:
    handler: get.main
    events:
      - http:
          path: guitars/{id}
          method: get

  listUserGuitars:
    handler: listUserGuitars.main
    events:
      - http:
          path: guitars/{username}
          method: get

  listAllGuitars:
    handler: listAllGuitars.main
    events:
      - http:
          path: allguitars
          method: get
